body{
	text-align: center;
	background-color: black;
}

h3{
	font-size: 50px;
	font-family: 'Alkatra', cursive;
	color: red;
	text-decoration: underline;
}

span{
	font-size: 20px;
	color: greenyellow !important;
}

button{
	color: lightgreen;
	font-size: 25px !important;
	border-width: 3px !important;
	background-color: darkcyan;
	border-color: green !important;
	border-style: solid;
	margin-left: 20px;
}

button:hover{
	color: darkcyan !important;
	background-color: lightgreen;
}

canvas{
	background: rgb(208, 255, 190);
}